* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

/* ===== HEADER ===== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    height: 22px;
    object-fit: contain;
}

.logo-img.xbox {
    height: 26px;
}

.divider {
    color: #666;
    font-size: 18px;
}

/* ===== NAV ===== */
.nav a,
.actions a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.nav a:hover,
.actions a:hover {
    color: #fff;
}

/* ===== HERO ===== */
.hero {
    display: flex;
    height: 80vh;
}

.hero-text {
    width: 50%;
    padding: 120px 80px;
    background-color: #0c0c0c;
}

.hero-text h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #ccc;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 14px 28px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
    font-size: 14px;
}

.btn.primary {
    background-color: #7cff00;
    color: #000;
}

.btn.secondary {
    color: #7cff00;
}

/* ===== HERO IMAGE ===== */
.hero-image {
    width: 50%;
    background-image: url("slike/xbox.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

#canvas {
    position: absolute;
    top: 9.5%;
    left: 34.5%;
    
}

/* ===== FOOTER ===== */
.footer {
    display: flex;
    gap: 80px;
    padding: 40px 80px;
    background-color: #f2f2f2;
    color: #000;
}

.footer-column h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    color: #555;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}
svg{
    margin-top: 50px;
}
